<div class="container">
    <div class="row">
        <!-- avatar -->
        <div class="col-xs-offset-4 col-xs-4">
            <div class="text-center wow zoomIn">
                <img src="{{ site.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.name }}</span></h4>
                <ul class="list-inline social-icon">
                    <li><a href="mailto:{{ site.email }}"><i class="octicon octicon-mail"></i></a>
                    </li>
                    <li><a href="{{site.url}}/feed.xml" target="blank"><i class="octicon octicon-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span>{{ site.description }}</span></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>职业生涯</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for career in site.data.careers %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="{{ career.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <h2><span>{{ career.name.detail }}</span></h2>
                        <p><span>{{ career.desc.detail }} </span></p>
                        <span class="vertical-date"><span> {{ career.date.detail }} </span>
                        <br/> <small><span>{{ career.job.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span>我的技能</span></h1>
        </div>
    </div>
    <div class="row features-block">
        {% for skill in site.data.skills %}
            {% assign loopindex = forloop.index | modulo: 2 %}
        <div class="row">
            <div class="col-lg-1 col-lg-offset-2 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
                <p>{{ skill.name }}</p>
            </div>
            <div class="col-lg-7 wow  {% if loopindex == 1 %} fadeInRight {% else %} fadeInLeft {% endif %}">
                <div class="progress progress-bar-default">
                    <div style="width: {{ skill.percentage }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ skill.percentage }}" role="progressbar" class="progress-bar">
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>

