<div class="search-tool"
     style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
   	<input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" placeholder="搜索博客">

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="/search/img/cb-close.png" id="close-btn"/>
    </div>
</div>

<div class="mod_fiexdtool">
    <a href="javascript:;" class="ft_cell" id="scroll-btn" style="display: none;">
        <i class="icon_lg octicon octicon-chevron-up"></i>
        <span class="icon_text">返回顶部</span>
    </a>
    <a href="javascript:;" class="ft_cell" id="search-btn">
        <i class="icon_lg octicon octicon-search"></i>
        <span class="icon_text">博客搜索</span>
    </a>
</div>

<link rel="stylesheet" href="/search/css/cb-search.css">
<script type="text/javascript" src="/search/js/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript" src="/search/js/cb-search.js"></script>
