* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.mod_fiexdtool{position:fixed;right:20px;bottom:10px;width:54px;z-index:90;text-align:center}
.mod_fiexdtool .ft_cell{margin-top:10px;color:#999}
.mod_fiexdtool .icon_lg{display:block;width:50px;height:50px;margin-bottom:3px;*margin-bottom:5px;border:12px solid #F2F2F2;background-color:#F2F2F2;border-radius:100%;overflow:hidden;color:#666;font-size:26px;}
small,cite,code,em,th,i,b{font-size:1em;font-style:normal;font-weight:500}
.mod_fiexdtool .svg_icon{display:block;width:30px;height:30px;margin:auto}
.mod_fiexdtool .ft_cell .icon_text{display:block;margin-top:2px;font-size:12px;margin-bottom:12px}
.mod_fiexdtool .ft_cell:hover .icon_lg{background-color:#FF920B;border-color:#FF920B;color:#fff}
.mod_fiexdtool .ft_cell:hover{color:#FF920B}
.mod_fiexdtool a{text-decoration:none;cursor:pointer;color:#222}

/** Header **/
.site-header{
    padding-top:20px;
    padding-bottom:20px;
    width: 100%;
    position: fixed;
    margin: 40px 0 30px 0;
    top: 0;
    left: 0 !important;
    right: 0;
    z-index: 103;

    color: #000;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.site-header{
    color: #fff;
}
.site-header .site-header-nav-item {
    color: #9acfea;
}

.site-header.site-header-nav-scrolled a {
    color: #2e2e2e;
}

.site-header.site-header-nav-scrolled #site-header-brand {
    color: #2e2e2e !important;
}

.site-header.site-header-nav-scrolled a:hover {
    color: #4183c4;
}
.site-header #site-header-brand {
    color: #fff;
    float: left;
}

.site-header a {
    text-decoration: none;
}

.site-header a:hover {
    color: #fff;
}

#site-header-brand, #site-header-brand .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;
}

.site-header-nav{
    float:right;
    margin-bottom: -20px;
}

.site-header-nav-item {
    color: #000;
    display:inline-block;
    padding:10px;
    margin-left:1.25rem;
    font-size: 20px;
}

/******* Scroll Start *******/
.site-header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.site-header.site-header-nav-scrolled {
    margin: 0;
    background-color: white;

    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/******* Scroll End *******/

/******* Scroll Start on the phone *******/
.site-header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.site-header.site-header-nav-scrolled-ph {
    margin-top: -160px;

    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
/******* Scroll End *******/

/** Jumbotron **/
.jumbotron {
    padding-top: 200px;
    padding-bottom: 100px;
    color: #fff;
}

.jumbotron a {
    color: #fff;
    text-decoration: none;
}
.jumbotron #jumbotron-meta-info {
    margin-top: 20px;
}

.jumbotron .meta-info {
    font-size: 20px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.jumbotron.meta-info, .jumbotron .meta-info .octicon {
    font-size: 18px;
}

/** Footer **/
.site-footer{
    position:relative;
    margin-top:40px;
    padding:40px 0;
    font-size:12px;
    line-height:1.5;
    color:#777;
    border-top:2px solid #eee
}

.site-footer .octicon-mark-github {
    position: absolute;
    left: 50%;
    color: #ccc;
}

.site-footer .octicon-mark-github:hover {
    color:#bbb;
}

/** Post List **/
.post-list-item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border-bottom: 1px solid #eee;
}

.post-list-title a {
    text-decoration: none;
}

.post-list-description {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    color: #666;
}

.post-list-meta {
    margin-top: 8px;
    margin-bottom: 0;
    color: #888;
}

.post-list-meta, .post-list-meta.octicon {
    font-size: 18px;
}

.geopattern {
    background-size: contain; /* To fix strange behavior when zoom in/out */
}

.sidebar-title {
    text-align: center;
}

.markdown-body pre,.markdown-body .highlighter-rouge,.markdown-body .highlighter-rouge pre{background:#2d2d2d;margin:.5em 0;padding:.5em 2%;color:#ccc;line-height:1.5;font-size:.8em;-webkit-border-radius:.35em;-webkit-border-radius:.35em;border-radius:.35em;word-wrap:break-word;}
@media only screen and (min-width:568px){.markdown-body pre,.markdown-body .highlighter-rouge,.markdown-body .highlighter-rouge pre{font-size:.9em}}
.markdown-body .highlighter-rouge .gutter pre,.markdown-body .gist .gist-file .gist-data .line-numbers{color:#666;font-size:.4em;}
@media only screen and (min-width:568px){.markdown-body .highlighter-rouge .gutter pre,.markdown-body .gist .gist-file .gist-data .line-numbers{font-size:.9em;line-height:1.5}}
.markdown-body pre{font-family:Monaco,Menlo,Consolas,Courier New,monospace;background:#f5f5f5;border:1px solid #ccc;}
.markdown-body pre code{color:#333;background:none;text-shadow:none;padding:0}
.markdown-body .highlighter-rouge{overflow:auto;font-size:.4em;}
@media only screen and (min-width:568px){.markdown-body .highlighter-rouge{font-size:.9em}}.markdown-body .highlighter-rouge pre{border:none;margin:0;padding:0}
.markdown-body .highlighter-rouge table{margin:0;width:auto}
.markdown-body .highlighter-rouge td{border:none;padding:0}
.markdown-body .highlighter-rouge figcaption{zoom:1;font-size:.85em;text-align:left;color:#999;line-height:1em;padding:.5em 0;margin-bottom:.5em;}
.markdown-body .highlighter-rouge figcaption:before,.markdown-body .highlighter-rouge figcaption:after{content:"";display:table}
.markdown-body .highlighter-rouge figcaption:after{clear:both}.markdown-body .highlighter-rouge figcaption a{float:right}
.markdown-body .highlighter-rouge .gutter pre{text-align:right;padding-right:1.5em}
.markdown-body .highlighter-rouge .line{height:20px}
.markdown-body .gist{margin:.5em 0;background:white;padding:1em 2%;-webkit-border-radius:.35em;-webkit-border-radius:.35em;border-radius:.35em;}
.markdown-body .gist .gist-file{border:none;font-family:Monaco,Menlo,Consolas,Courier New,monospace;margin:0;}
.markdown-body .gist .gist-file .gist-data{background:none;border:none;}
.markdown-body .gist .gist-file .gist-data .line-numbers{background:none;border:none;padding:0 1.5em 0 0}
.markdown-body .gist .gist-file .gist-data .line-data{padding:0 !important}
.markdown-body .gist .gist-file .highlighter-rouge{margin:0;padding:0;border:none;background:white}
.markdown-body .gist .gist-file .gist-meta{background:white;color:#999;font:.85em "Georgia",serif;text-shadow:0 0;padding:0;margin-top:1em;}
.markdown-body .gist .gist-file .gist-meta a{color:#2ca6cb;font-weight:normal;}
.markdown-body .gist .gist-file .gist-meta a:hover{color:#2ca6cb}pre .comment,pre .title{color:#999}
pre .variable,pre .attribute,pre .tag,pre .regexp,pre .ruby .constant,pre .xml .tag .title,pre .xml .pi,pre .xml .doctype,pre .html .doctype,pre .css .id,pre .css .class,pre .css .pseudo{color:#f2777a}
pre .number,pre .preprocessor,pre .built_in,pre .literal,pre .params,pre .constant{color:#f99157}
pre .class,pre .ruby .class .title,pre .css .rules .attribute{color:#9c9}
pre .string,pre .value,pre .inheritance,pre .header,pre .ruby .symbol,pre .xml .cdata{color:#9c9}
pre .css .hexcolor{color:#6cc}
pre .function,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword,pre .perl .sub,pre .javascript .title,pre .coffeescript .title{color:#69c}
pre .keyword,pre .javascript .function{color:#c9c}
.gallery{overflow:hidden;position:relative;}
.gallery:hover .control{opacity:1;-ms-filter:none;filter:none}
.gallery img{min-width:100%;max-width:100%;height:auto;position:absolute;top:0;left:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.gallery .control{opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s}
.gallery .prev,.gallery .next{position:absolute;top:0;width:50%;height:100%;cursor:pointer;}
.gallery .prev:before,.gallery .next:before{position:absolute;font:24px/1 "FontAwesome";text-align:center;width:24px;text-shadow:0 0 15px rgba(0,0,0,0.5);color:#fff;margin-top:-12px;top:50%}
.gallery .prev{left:0;}.gallery .prev:before{content:'\f053';left:10px}
.gallery .next{right:0;}.gallery .next:before{content:'\f054';right:10px}

.highlighter-rouge .hll { background-color: #49483e }
.highlighter-rouge pre code { color: #ccc } /* Default */
.highlighter-rouge .c { color: #75715e } /* Comment */
.highlighter-rouge .err { color: #960050; background-color: #1e0010 } /* Error */
.highlighter-rouge .k { color: #66d9ef } /* Keyword */
.highlighter-rouge .l { color: #ae81ff } /* Literal */
.highlighter-rouge .n { color: #f8f8f2 } /* Name */
.highlighter-rouge .o { color: #f92672 } /* Operator */
.highlighter-rouge .p { color: #f8f8f2 } /* Punctuation */
.highlighter-rouge .cm { color: #75715e } /* Comment.Multiline */
.highlighter-rouge .cp { color: #75715e } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #75715e } /* Comment.Single */
.highlighter-rouge .cs { color: #75715e } /* Comment.Special */
.highlighter-rouge .ge { font-style: italic } /* Generic.Emph */
.highlighter-rouge .gs { font-weight: bold } /* Generic.Strong */
.highlighter-rouge .kc { color: #66d9ef } /* Keyword.Constant */
.highlighter-rouge .kd { color: #66d9ef } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #f92672 } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #66d9ef } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #66d9ef } /* Keyword.Type */
.highlighter-rouge .ld { color: #e6db74 } /* Literal.Date */
.highlighter-rouge .m { color: #ae81ff } /* Literal.Number */
.highlighter-rouge .s { color: #e6db74 } /* Literal.String */
.highlighter-rouge .na { color: #a6e22e } /* Name.Attribute */
.highlighter-rouge .nb { color: #f8f8f2 } /* Name.Builtin */
.highlighter-rouge .nc { color: #a6e22e } /* Name.Class */
.highlighter-rouge .no { color: #66d9ef } /* Name.Constant */
.highlighter-rouge .nd { color: #a6e22e } /* Name.Decorator */
.highlighter-rouge .ni { color: #f8f8f2 } /* Name.Entity */
.highlighter-rouge .ne { color: #a6e22e } /* Name.Exception */
.highlighter-rouge .nf { color: #a6e22e } /* Name.Function */
.highlighter-rouge .nl { color: #f8f8f2 } /* Name.Label */
.highlighter-rouge .nn { color: #f8f8f2 } /* Name.Namespace */
.highlighter-rouge .nx { color: #a6e22e } /* Name.Other */
.highlighter-rouge .py { color: #f8f8f2 } /* Name.Property */
.highlighter-rouge .nt { color: #f92672 } /* Name.Tag */
.highlighter-rouge .nv { color: #f8f8f2 } /* Name.Variable */
.highlighter-rouge .ow { color: #f92672 } /* Operator.Word */
.highlighter-rouge .w { color: #f8f8f2 } /* Text.Whitespace */
.highlighter-rouge .mf { color: #ae81ff } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #e6db74 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #e6db74 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #e6db74 } /* Literal.String.Double */
.highlighter-rouge .se { color: #ae81ff } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #e6db74 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #e6db74 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #e6db74 } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #e6db74 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlighter-rouge .gh { } /* Generic Heading & Diff Header */
.highlighter-rouge .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlighter-rouge .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlighter-rouge .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */

